/*FORMULÁRIO DE CONTATO*/
.titulo h1{
  font-size: 1.4em;
  color: rgba(255, 255, 255);
  font-weight: 700;
}

.formulario{
  width: 100%;
  background: #130400;
  padding: 3% 4%;
  float: left;
  margin-top: 5%;
  margin-bottom: 5%;
}

.formulario label{
  color: rgba(255, 255, 255);
  font-size: 1.3em;
  width: 20%;
  float: left;
  margin-top: 7%;
  margin-bottom: 6%;
}

.formulario input, textarea{
  width: 75%;
  float: right;
  padding: 5%;
  margin-top: 5%;
  background: #130400;
  color: rgba(255, 255, 255);
  border: 1px solid rgba(255, 255, 255);
  border-radius: 7px;
}

.formulario textarea{
  height: 150px;
}

.formulario button{
  width: 100%;
  height: 80px;
  color: rgba(255, 255, 255);
  border-radius: 10px;
  margin-top: 2%;
  background: linear-gradient(to bottom, #9b59b6, #1a5276);
  cursor: pointer;
  font-size: 1.6em;
}

/*MOBILE FIRST*/

/*SMALL DEVICES - SMARTPHONES*/

@media screen and (min-width: 480px){

}

/*SMALL DEVICES - TABLETS*/
@media screen and (min-width: 768px){
  .titulo h1{
    font-size: 1.6em;
  }

  .formulario label{
    font-size: 1.4em;
    width: 5%;
    float: none;
  }

  .formulario input, textarea{
    width: 35%;
    margin-top: 5%;
    float: none;
    margin-left: 2%;
    margin-right: 2%;
  }

  .formulario textarea{
    width: 90%;
  }

  .formulario button{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }

}

/*MEDIUM DEVICES - TABLETS E DESKTOPS*/

@media screen and (min-width: 960px){

  .titulo h1{
    font-size: 1.8em;
    text-align: center;
    margin-left: 40%;
  }

  .formulario label{
    font-size: 1.6em;
    width: 3%;
    float: none;
  }

  .formulario input, textarea{
    width: 36%;
    margin-top: 5%;
    float: none;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .formulario textarea{
    width: 60%;
  }

  .formulario button{
    width: 30%;
  }

}

/*LARGE DEVICES - WIDE SCREENS*/

@media screen and (min-width: 1280px){

  .formulario{
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
  }

  .titulo h1{
    font-size: 1.8em;
    text-align: center;
    margin-left: 40%;
  }

  .formulario label{
    font-size: 1.8em;
    width: 8%;
  }

  .formulario input, textarea{
    width: 80%;
    margin-right: 5%;
    margin-left: 5%;
  }

  .formulario button{
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
  }

}
